@import "vars";
@import "libs";
@import "fonts";

* {
 box-sizing:border-box;
}
body {
	font-family: "RussoOne-Regular",sans-serif;
}
section {
	padding-bottom: 40px;
}
h2 {
	text-align: center;
}
.carousel-inner {
	height: 100vh;

}

header {
	background:#00000082;
	padding: 10px 0;
	border-bottom: 1px solid orangered;
	position: fixed;
	width: 100%;
	z-index: 3;
	

	nav {

		img {
			width: 80px;
			height: 60px;
		}

		a {
			color: white;
			font-weight: 400;

			&:hover {
				color: orangered; 
			}
		}
		p {
			font-family: "Lobster-Regular";
			color: white;
			font-size: 34px;
			font-weight: 600;
		}

	}
}
.main {
	position: relative;

	.titul {
		position: absolute;
		z-index: 2;
		top:26%;
		left: 42%;
		color: white;
		max-width: 500px;
		padding-left: 25px;
	    border-top: 10px solid rgba(259,126,0,1.67);
	    border-left:  10px outset rgba(259,126,0,1.67);

		span {
			border-left: 30px;
		}
	}
}
.price {
	span {
		
		font-size: 18px;
	}

	.price-list {
		padding-top: 30px;
		div {
			height: 250px;
			width: 250px;
			box-shadow: 1px 1px 5px 1px #000;
			padding: 80px 25px ;
			border-radius: 10px;
			animation: shine 2s linear;


			&:hover {
				box-shadow: 0px 0px 25px 1px orangered;
				transition: 0.2s linear;
			}

			&:hover span {
				color: orangered;

			}
		}
	}
}
.info {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(252,163,60,1) 100%);
	h2 {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.about-us {
			transition: all 1.5s linear;
		
		div {
			padding: 50px 20px;
			text-align: center;
			height: 300px;
			width: 800px;
			margin-bottom: 20px;
			border-radius: 20px;
			background: linear-gradient(180deg, rgba(255,255,255,.5) 0%, rgba(252,163,60,.8) 100%);
		}
		.favor {
			transition: all 1.7s linear 1s;
			transform: translateX(800px);
		}
		.originality {
			transition: all 1.7s reverse 1s;
			transform: translateX(200px);
			
		}
		.vat {
			transition: all 1.9s linear 1s;
			transform: translateX(800px);


		}
		.why-us {
			transition: all 1.9s linear 1s;
			transform: translateX(300px);
		}
		.rules {
			transition: all 2s linear 1s;
			transform: translateX(800px);
		}
	}
}
@import "media";


